# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
dist/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.python-version

# Environments
.env
.venv/
venv/
env/

# Editors
.vscode/
.idea/

# OS
.DS_Store
